@import "tailwindcss";

@theme {
  --font-sans: "Lato", "Roboto", sans-serif;
  --color-brand-grey: #616161;
  --color-brand-dark: #3e3636;
  --color-brand-light: #bdbdbd;
}

body {
  font-family: var(--font-sans);
}
